.newsletter__wrapper .newsletter__subheading p {
    color: #28a745;
  }
/* the discont 10% for Subscribe */
.header.header--middle-left.header--mobile-center.page-width.header--has-menu {
    padding: 10px 20px;

  }
  /* the meniu in the header */


  .header__inline-menu .list-menu--inline li {
    margin-left: 20px;
  }
  .header__inline-menu .list-menu--inline li a {
    font-size: 18px;
    text-decoration: none;
    transition: color 0.3s ease, background-color 0.3s ease;
   }
  /* chang margin and font size for the menu in the navbare */
  /* try to remove text decoration */



@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .header__inline-menu .list-menu--inline li a {
      font-size: 14px;
  }
  
  .header__inline-menu .list-menu--inline li:last-child {
      margin-right: 0;
  }
}
/* custom navbar magins and font siz for the templates */


.button.button--secondary {
    font-weight: 500;
    font-size:15px;
  
  }
  /* button that go to the best seller */

.slider-mobile-gutter.page-width-desktop.scroll-trigger.animate--slide-in {
  padding-left:25px ;
  padding-right:25px ;
}
/* edit padding for the product container  */

h3.card__heading .full-unstyled-link {
  text-decoration: none;}
  /*remove the line under the product url  */