.newsletter__wrapper .newsletter__subheading p {
    color: #28a745;
  }
/* the discont 10% for Subscribe */
.header.header--middle-left.header--mobile-center.page-width.header--has-menu {
    padding: 10px 20px;

  }
  /* the meniu in the header */

.header.header--middle-left.header--mobile-center.page-width.header--has-menu li {
    margin-right: 30px;
  }

.header__menu-item.list-menu__item.link.link--text.focus-inset {
    font-weight: 500;
 
}  

.button.button--secondary {
    font-weight: 500;
    font-size:15px;
  
  }
  /* button that go to the best seller */

.slider-mobile-gutter.page-width-desktop.scroll-trigger.animate--slide-in {
  padding-left:25px ;
  padding-right:25px ;
}
/* edit padding for the product container  */
